<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pindergarten_android.pindergarten_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/pindergarten_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pindergarten_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pindergarten_android">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="7f1u7f4vb5" />

        <activity android:name="com.pindergarten_android.pindergarten_android.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.pindergarten_android.pindergarten_android.JoinActivity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.Join2Activity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.Join3Activity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.FindPwdActivity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.FindPwd2Activity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.LoginActivity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.OnboardingActivity"/>
        <activity android:name="com.pindergarten_android.pindergarten_android.MainActivity"  android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="{com.pindergarten_android.pindergarten_android}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>


</manifest>